body
{
    font-family: sans-serif;
    margin-top: 3%;
}

form div
{
    margin: 1%;
}

form div label, #rightContentColumn h3
{
    display: inline-block;
    text-align: right;
    width: 25%;
    padding-right: 5px;
}

button
{
    background-color: white;
    color: black;
    padding: .5em;
    border-radius: 6px;
    font-size: 110%;
    cursor: pointer;
}

button:hover
{
    background-color: #dddddd;
    border-radius: 6px;
}

form div input
{
    text-align: left;
}

form input[type="text"]
{
    width: 4em
}

#leftContentColumn
{
    width: 700px;
    float: left;
    margin: 0px 2% 20% 1%;
}

#wordCloudPreview
{
    width: 100%;
    aspect-ratio: 1;
    border: 2px solid black;
    border-radius: 5px;
}

#fileInput, #rawTextInput
{
    margin-top: 3%;
}

#rawTextInput
{
    width: 100%;
}

#extraWords
{
    display: none;
    margin-top: 2%;
}

#extraWordsList
{
    margin: 2%;
    overflow: scroll;
    height: 200px;
    width: auto;
}

 .tooltip
{
    border: 1px solid black;
    font-size: 60%;
    border-radius: 2em;
    padding: .1em .3em;
    cursor: pointer;
}

.tooltipContent
{
    visibility: hidden;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid black;
    font-size: 130%;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltipContent
{
    visibility: visible;
}

.tooltipContent li
{
    margin-bottom: 5px;
}

.tooltipContent a
{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.tooltipContent a:hover
{
    color: #666666;
}

#downloadSvgButton
{
    display: none;
}

#singleColorPref
{
    display: none;
}