body
{
    font-family: sans-serif;
    display: flex;
    width: 100%;
}

.prefGroupContent div label
{
    display: inline-block;
    text-align: right;
    width: 50%;
    padding-right: 5px;
}

.prefGroup
{
    width: 95%;
    margin-bottom: 2%;
}

.prefGroup h3
{
    background-color: #003069;
    color: white;
    display: block;
    padding: 1em;
    cursor: pointer;
    margin: 0px;
}

.prefGroupContent
{
    background-color: #eeeeee;
    padding: .5em;
    margin: 0px;
}

.prefGroupContent div
{
    padding: .5em;
}

button
{
    background-color: white;
    color: black;
    padding: .5em;
    border-radius: 6px;
    font-size: 110%;
    cursor: pointer;
}

button:hover
{
    background-color: #dddddd;
    border-radius: 6px;
}

.prefGroupContent div input
{
    text-align: left;
}

.prefGroupContent div input[type="text"]
{
    width: 4em;
}

#leftContentColumn
{
    flex: 93vh;
}

#rightContentColumn
{
    flex: auto;
}

#wordCloudPreview
{
    height: 93vh;
    min-width: 50px;
    max-height: 1000px;
    min-height: 400px;
    aspect-ratio: 1;
    border: 2px solid black;
    border-radius: 5px;
    position: fixed;
}

#rawTextInput
{
    width: 100%;
}

#fileInput, #rawTextInput
{
    margin-top: 3%;
}

#extraWords
{
    display: none;
    margin-top: 2%;
}

#extraWordsList
{
    margin: 2%;
    overflow: scroll;
    height: 200px;
    width: auto;
}

 .tooltip
{
    border: 1px solid black;
    font-size: 60%;
    border-radius: 2em;
    padding: .1em .3em;
    cursor: pointer;
    background-color: white;
}

.tooltipContent
{
    visibility: hidden;
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    border: 1px solid black;
    font-size: 130%;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltipContent
{
    visibility: visible;
}

.tooltipContent li
{
    margin-bottom: 5px;
}

.tooltipContent a
{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.tooltipContent a:hover
{
    color: #666666;
}

#downloadSvgButton
{
    display: none;
}